<div id="popup_comment" class="popup">
<section class="col-md-12">
  <div class="sct_inner">
    <p><%= link_to comment.user.name, user_path(comment.user) %>さんのコメント</p>
    <h4>→<%= comment.text %></h4>
  </div>
</section>
</div>