<div class="question_content top_content">
  <div class="question_body">
    <div class="question_box">
      <span class="q">コメント</span>
      <span class="question_text"><%= comment.text %></span>
      <% if @user.id == current_user.id %>
        <small class='edit'>
          <%= link_to '編集', edit_comment_path(comment) %>
        </small>
      <% end %>
    </div>
  </div>
</div>